html
    head
        include partial/head.pug
    body
        main
            div
                h1 Error
                h4 Sorry something goes really wrong
                div(class='button__wrapper')
                    a(class='link-button', href='/') Try again