@use "../abstracts/colors" as colors;
body{
  background: colors.$pallet-3;
  display: flex;
  justify-content: center;
  margin: 0 15px;
  main{
    max-width: 1200px;
  }

  color: colors.$pallet-0;
  font-family: code-saver,sans-serif;
  font-weight: 400;
  font-style: normal;
}